@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";

$family-sans-serif: 'Roboto';
$is-family-primary: 'Roboto', sans-serif;
$is-header-family: 'EB Garamond', serif;

$background-dark: $grey-darker;
$background-light: $white-bis;


$image-margin: 5vw;
$image-margin-left: $image-margin;
$image-margin-right: $image-margin;

